<div class="container">
  <h2>Pagos</h2>
  <button class="btn btn-primary" (click)="navigateToCreate()">Crear Nuevo</button>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th><th>Fecha Pago</th><th>Monto</th><th>Cliente</th><th>Membresía</th><th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of paginatedPayments">
        <td>{{payment.id_pago}}</td>
        <td>{{payment.fecha_pago}}</td>
        <td>{{payment.monto}}</td>
        <td>{{payment.cliente_nombre}} {{payment.cliente_apellido}}</td>
        <td>{{payment.membresia_tipo}} ({{payment.membresia_precio}})</td>
        <td>
          <button class="btn btn-warning" (click)="edit(payment.id_pago)">Editar</button>
          <button class="btn btn-danger" (click)="delete(payment.id_pago)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation" class="d-flex justify-content-end">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="previousPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of visiblePages" [class.active]="page === currentPage">
        <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="nextPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>