<div class="container">
  <h2>Inscripciones</h2>
  <button class="btn btn-primary" (click)="navigateToCreate()">Crear Nueva</button>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th><th>Fecha Inscripción</th><th>Cliente</th><th>Clase</th><th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inscription of paginatedInscriptions">
        <td>{{inscription.id_inscripcion}}</td>
        <td>{{inscription.fecha_inscripcion}}</td>
        <td>{{inscription.cliente_nombre}} {{inscription.cliente_apellido}}</td>
        <td>{{inscription.nombre_clase}}</td>
        <td>
          <button class="btn btn-warning" (click)="edit(inscription.id_inscripcion)">Editar</button>
          <button class="btn btn-danger" (click)="delete(inscription.id_inscripcion)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation" class="d-flex justify-content-end">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="previousPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of visiblePages" [class.active]="page === currentPage">
        <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="nextPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>